* {
    padding: 0px;
    margin: 0px;
}

/*.............mobile first................*/

.lobbie {
    width: 120px;
    margin: auto;
    position: relative;
    display: block;

}

/*.......Avatar foto....*/
.avatar1 {
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 10px;
    position: relative;
}
/*........button...........*/
.button4 {
  
display: block;
position: relative;
width: 20px;
background-color:transparent;
border-radius: 40px;
bottom: 155px;
margin-left: 350px;

}

/*.......onderste knoppen....*/
main img {
    width: 45px;
    position: relative;

}

.button1,
.button2,
.button3 {
display: inline-block;
bottom: 140px;
position: relative;
background-color:transparent;
margin: 50px;
}


main h1 {
    color: black;
    text-align: center;
    position: relative;
    font-size: 22px;
    font-family: monospace;
    bottom: 145px;

}

main h2 {
    color: black;
    font-size: 16px;
    position: relative;
text-align: center;
    font-family: monospace;
    bottom: 140px;

}

.biobalk {
    position: relative;
bottom: 90px;
width:280px;
display: block;
margin: auto;


}
.biobalkGroot {
    position: relative;
bottom: 160px;
width:280px;
display: block;
margin: auto;


}





/*.............responsive desktop................*/

@media screen and (min-width: 600px) {}