<!DOCTYPE html>
<h1>Kies een gebruiker</h1>
<% for (var index = 0; index < data.length; index++){ %>
<section>
  <h2><%= data[index].firstName %> </h2>
  <p><%= data[index].lastName %> </p>
</section>
<% } %>
