<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="" img src="../static/images/user.png" ></a>
        <a href="match.ejs" img src="../static/images/like.png" ></a>
      </nav>
</body>
</html>