<!DOCTYPE html>
<link rel="STYLESHEET" href="./static/styleProfiel.css" type="text/css"> 
<h1>Matches:</h1>

<% for (var index = 0; index < data.length; index++){ %>
<ul class="matches"> 

 <a href="">  <button> Chat</button><h2><%= data[index].firstName %> </h2>
  <p><%= data[index].lastName %> </p>

 <figure>  <%= data[index].photo %> </figure>
</a>
</ul>

<% } %>
