<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matches</title>
</head>
<body>
    <h1> <%= data.name %> </h1>
    <h2> <%= data.age %> </h2>
    <p> <%= data.bio %> </p>
    <button>Chat</button>
    <button>Keep playin</button>
</body>
</html>                                                                 