<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <img class="lobbie" src="./static/images/logo.png" alt="Logo">
  <title>Welkom<%= data.firstName %>!</title>

  <form action="/login" method="post">
    <label>  
        <select name="datingUsers">
            <option value="gebruiker1">Eliza Meijer</option>
            <option value="gebruiker2"> Merel Mendel</option>
            <option value="gebruiker3">Sophie van Basten</option>
            <option value="gebruiker4">Lara Vermeulen</option>
            <option value="gebruiker5">Cheyenne van Ommen</option>

        </select>
    </label>
    <input type="submit">
</form>
</body>
</html>